.modal {
    position: fixed;
    top: 50%;
    right: 50%;
    transform: translate(50%,-50%);
    max-width: 52%;
    max-height: 90%;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 33px;
    z-index: 1000;
    padding: 50px;
    overflow: auto;
}

.overlay {
    width: 100%;
    height: 100vh;
    background: #aaa2;
    backdrop-filter: blur(3px);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}
@media (max-width: 768px) {
    .modal {
        max-width: 100%;
        padding: 30px;
    }

    .modal form .form-user input {
        font-size: 14px;
        padding: 10px;
    }
    
}
