header{
    width: 70%;
    margin-top: 5px;
    margin-left: 15%;
    color: white;
    background: rgba(255,255,255,0.05);
    backdrop-filter: blur(10px);
    border: 1px solid #30363d;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
    border-radius: 30px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    text-align: center;
    font-size: 10px;
}


